@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background-container img {
  filter: brightness(70%); /* Menyesuaikan kecerahan bulan */
 
}

.stars {
  background: rgb(0, 0, 0) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

p {
  color: white;
  position: absolute; /* Tambahkan posisi absolut */
  top: 20px; /* Sesuaikan posisi vertikal */
  left: 20px; /* Sesuaikan posisi horizontal */
  z-index: 3; /* Atur lapisan z-index lebih tinggi dari latar belakang */
}




img {
  height: 30vh;
  width: 30vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

#audioButton {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  padding: 0;
}
#audioButton img {
  position: static !important;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 10px red);
  animation: glow 1.5s ease-in-out infinite alternate;
}

/* Efek berdenyut glow */
@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px rgb(255, 0, 102));
    transform: scale(1);
  }
  100% {
    filter: drop-shadow(0 0 20px rgb(255, 0, 144));
    transform: scale(1.1);
  }
}
